.page{
    width: 70vw;

    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    font-weight: bold;
    font-size: large;
}

.loginBox{
    height: 300px;
    width: 250px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgba(143, 21, 180, 0.534);
}

.errorMessage{
    font-size: 15px;
    font-weight: lighter;
}

.displayMessages{
    background-color:rgba(143, 21, 180, 0.534);
    overflow-y: scroll;
    word-break: break-word;
    height: 80vh;
}

.enterMessageBox{
    display: flex;
}

.chat textarea{
    width: 70vw;
    height: 15vh;
}
